body{
    color: red ;
    text-align: center ;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0%;
    font-size: 16px;
}


#cabecera
{
    font-size: 1cm;
 background-color: blue;
 box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
 color: white;
 font-weight: 400;
 margin: 0;
 padding: 0;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: 400;
    font-size: 0.8cm;
}

#container 
{
    width: 70%;
    padding:1em;
    text-align: left;
    border: 1px solid white;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

